#welcome {
    background-color: #2a2a2a;
    padding: 6rem 12%;
    color: #eeb14e;
    font-weight: 200;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    z-index: 1;
}

#welcome header {
    display: flex;
    align-items: flex-start;
    margin: 3rem auto;
}

#welcome img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #ffe1bf;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
    font-size: 3.5rem;
    margin: 0 0 0 2rem;
    font-weight: 200;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;

}

#welcome p {
    font-size: 1.5rem;
}

#latest-posts {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    z-index: 100;
    margin: -0.5rem auto -0.5rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-posts h2 {
    text-align: center;
}

#latest-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

#latest-posts li {
    flex: 1;
}

#about {
    text-align: center;
    padding: 3rem;
    margin-top: -1rem;
    background-color: #eeb14e;
    color: #2a2a2a;
    z-index: -1;
}

#about h2 {
    font-size: 3rem;
}

#about p {
    font-size: 1.5rem;

}