{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock  %}

{% block content %}
 
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/profile_pic.jpg"%}" alt="Gid - The author of this blog">
            <h2 class="mt-5">My musings on all things tech.</h2>
        </header>
        <p></p>
    </section>

    <section id="latest-posts">
        <h2 class="mb-3">Latest Posts</h2>
        <ul class="">
            {% for post in posts  %}
            <div class="col-12 col-md-4">
                {% include "blog/includes/post.html" %}
            </div>
            {% endfor %}           
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I am a full stack developer who programs for the web.
        <br>I like to use Django, Ruby on Rails, JavaScript, HTML, CSS and React.</p>
        <p>I also love playing musical instruments and love to tinker with music tech, Raspberry Pi's and Arduinos.</p>
    </section>
{% endblock  %}