{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock  %}

{% block content %}
 
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/profile_pic.jpg"%}" alt="Gid - The author of this blog">
            <h2 class="mt-5">Tech Blog</h2>
        </header>
        <p></p>
    </section>

    <section id="latest-posts">
        <h2 class="mb-3">Latest Posts</h2>
        <ul>
            {% for post in posts  %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming for the web.</p>
        <p>My goal is to improve my skills at Django, Rails and JavaScript.</p>
    </section>
{% endblock  %}